@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


:root {
  --background: rgba(105, 191, 153, 1);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	background: #F2F2f2;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}



/* navigation styles start here */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  top:10px;
  color: #f2f2f2;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 10px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    
  }
  
  .logo {
    grid-column: 2 / 3;
  }
  
  nav {
    // all: unset; 
    

    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}

body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;

}
.pimg1, .pimg2, .pimg3, .pimg4, .pimg5 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.imgg {
	background-image: url('Logo.png');
	height:200px;
	width:200px;
}

.pimg1{
    background-image: url('image1.jpg');
    min-height: 100%;
}
.pimg2{
    background-image: url('image2.jpg');
    min-height: 100%;
}
.pimg3{
    background-image: url('image3.jpg');
    min-height: 400px;
}

.pimg4{
    background-image: url('image4.png');
    min-height: 400px;
}

.pimg5{
    background-image: url('image5.png');
    min-height: 100%;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-light{
    background-color: #57ba98;
    color: #e2e2e2;
}

.section-dark{
    background-color: #3b945e;
    color: #f2f2f2;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align:center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext .border.trans{
    background-color: transparent;
}

@media (max-width: 568px)
{
    .pimg1, .pimg2, .pimg3, .pimg4, .pimg5{
        background-attachment: scroll;
    }
}


.poopy {
	display:block;
	background: #00a9d4;
	color:#f2f2f2;
	padding:15px;
	cursor:pointer;
	text-decoration:none;
	width:320px;
	text-align:center;
	border-radius:5px;
	font-size:20px;
	margin:auto;
}

.joopy {
	display:block;
	background: #f98909;
	color:#f2f2f2;
	padding:15px;
	cursor:pointer;
	text-decoration:none;
	width:320px;
	text-align:center;
	border-radius:5px;
	font-size:20px;
	margin:auto;
}

.poopy:hover {
	background:#00729d;
}

.joopy:hover {
	background: #DC6C11;
}

p {
	padding: 15px;
}

footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: var(--background);
  
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #f2f2f2;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #f2f2f2;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #182628;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #f2f2f2;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.left .content .social a span:hover{
  background: #3b945e;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #f2f2f2;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #57ba98;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 15px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #f2f2f2;
  padding-left: 10px;
  border: 1px solid #f2f2f2;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #f2f2f2;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f2f2f2;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
  
}
.right form .btn button:hover{
  background: #000;
  color: #f2f2f2;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #f2f2f2;
}
.bottom center a{
  color: #f2f2f2;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}